officepresence.json
[{"id":"a137d195bfd294a5","type":"tab","label":"Office","disabled":false,"info":"","env":[{"name":"acSetManually","value":"false","type":"bool"}]},{"id":"6aebda7f0eb6cff0","type":"junction","z":"a137d195bfd294a5","x":980,"y":40,"wires":[["c9aa262b14c34924","51ee01cf40d87fd5"]]},{"id":"a3fd057094cc72e8","type":"junction","z":"a137d195bfd294a5","x":400,"y":180,"wires":[["5d7788cfc0608137","c154ea1afd4e65d7"]]},{"id":"58b3947de4b87c4f","type":"ha-tag","z":"a137d195bfd294a5","name":"","server":"ca4f37cd.f647f8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"tags":["7791f1db-4955-4b2d-aea2-4fcb94e90813"],"devices":[],"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":140,"wires":[["50601ff8d14b92b3"]]},{"id":"7c35abf02d556824","type":"api-current-state","z":"a137d195bfd294a5","name":"Is it Dark?","server":"ca4f37cd.f647f8","version":3,"outputs":2,"halt_if":"above_horizon","halt_if_type":"str","halt_if_compare":"is","entity_id":"sun.sun","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"30","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":920,"y":180,"wires":[["51ee01cf40d87fd5"],["025665c061fbd7b2"]]},{"id":"50601ff8d14b92b3","type":"api-current-state","z":"a137d195bfd294a5","name":"In Office?","server":"ca4f37cd.f647f8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.in_office","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":240,"y":160,"wires":[["c9cd18bfeb1f2060"],["a3fd057094cc72e8"]],"icon":"font-awesome/fa-power-off"},{"id":"5d7788cfc0608137","type":"api-call-service","z":"a137d195bfd294a5","name":"Set In Office to on","server":"ca4f37cd.f647f8","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.in_office"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":240,"wires":[["7c35abf02d556824","a20c07dce6504a8b"]],"icon":"font-awesome/fa-power-off"},{"id":"a20c07dce6504a8b","type":"api-current-state","z":"a137d195bfd294a5","name":"What's the temperature?","server":"ca4f37cd.f647f8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.office","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entity"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1150,"y":340,"wires":[["6333f3d84edf52c6"]]},{"id":"c9cd18bfeb1f2060","type":"api-call-service","z":"a137d195bfd294a5","name":"Set In Office to off","server":"ca4f37cd.f647f8","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.in_office"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":40,"wires":[["c154ea1afd4e65d7","6aebda7f0eb6cff0"]]},{"id":"6333f3d84edf52c6","type":"switch","z":"a137d195bfd294a5","name":"Determine AC Mode","property":"payload.attributes.current_temperature","propertyType":"msg","rules":[{"t":"lte","v":"19","vt":"num"},{"t":"btwn","v":"21","vt":"num","v2":"24","v2t":"num"},{"t":"gte","v":"25","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1400,"y":340,"wires":[["b68d25767f0557dd"],["b2ea016ffac173de"],["d555d059cbea8501"]]},{"id":"025665c061fbd7b2","type":"api-call-service","z":"a137d195bfd294a5","name":"Turn On the lights","server":"ca4f37cd.f647f8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":["office"],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1350,"y":180,"wires":[[]]},{"id":"51ee01cf40d87fd5","type":"api-call-service","z":"a137d195bfd294a5","name":"Turn Off the lights","server":"ca4f37cd.f647f8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":["office"],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1150,"y":100,"wires":[[]]},{"id":"c9aa262b14c34924","type":"api-call-service","z":"a137d195bfd294a5","name":"Turn off Heating","server":"ca4f37cd.f647f8","version":5,"debugenabled":false,"domain":"climate","service":"set_hvac_mode","areaId":[],"deviceId":[],"entityId":["climate.office"],"data":"{\"hvac_mode\":\"off\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":40,"wires":[[]]},{"id":"e19ad1cd83d07933","type":"api-current-state","z":"a137d195bfd294a5","name":"Office Occupied?","server":"ca4f37cd.f647f8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.in_office","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1130,"y":240,"wires":[["025665c061fbd7b2"],[]]},{"id":"706fd6d8366d1fd7","type":"ha-time","z":"a137d195bfd294a5","name":"Getting Dark","server":"ca4f37cd.f647f8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityId":"sun.sun","property":"attributes.next_setting","offset":"-30","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"debugenabled":false,"x":930,"y":240,"wires":[["e19ad1cd83d07933"]]},{"id":"c5284c809c5a5f28","type":"trigger-state","z":"a137d195bfd294a5","name":"Computer Woken Up?","server":"ca4f37cd.f647f8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.office_computer_plug_power","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">=","comparatorValueDatatype":"num","comparatorValue":"50"},{"targetType":"entity_id","targetValue":"input_boolean.in_office","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","enableInput":false,"x":140,"y":280,"wires":[["5d7788cfc0608137"],[]]},{"id":"e06776e7f87e7e79","type":"trigger-state","z":"a137d195bfd294a5","name":"Computer Gone to Sleep?","server":"ca4f37cd.f647f8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.office_computer_plug_power","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"<=","comparatorValueDatatype":"num","comparatorValue":"40"},{"targetType":"entity_id","targetValue":"input_boolean.in_office","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","enableInput":false,"x":150,"y":46,"wires":[["c9cd18bfeb1f2060"],[]]},{"id":"4ebd9b2158657475","type":"server-state-changed","z":"a137d195bfd294a5","name":"Office Temperature Has Changed?","server":"ca4f37cd.f647f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"climate.office","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":360,"wires":[["0a5259398d80700d"]]},{"id":"b68d25767f0557dd","type":"api-current-state","z":"a137d195bfd294a5","name":"Already Heating?","server":"ca4f37cd.f647f8","version":3,"outputs":2,"halt_if":"heat","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.office","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"heat","valueType":"str"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1670,"y":280,"wires":[[],["a568af5ac065c801"]]},{"id":"d555d059cbea8501","type":"api-current-state","z":"a137d195bfd294a5","name":"Already Cooling?","server":"ca4f37cd.f647f8","version":3,"outputs":2,"halt_if":"cool","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.office","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"cool","valueType":"str"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1670,"y":400,"wires":[[],["a568af5ac065c801"]]},{"id":"b2ea016ffac173de","type":"api-current-state","z":"a137d195bfd294a5","name":"Already Off?","server":"ca4f37cd.f647f8","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.office","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"off","valueType":"str"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1650,"y":340,"wires":[[],["a568af5ac065c801"]]},{"id":"a568af5ac065c801","type":"api-call-service","z":"a137d195bfd294a5","name":"Set AC Mode","server":"ca4f37cd.f647f8","version":5,"debugenabled":false,"domain":"climate","service":"set_hvac_mode","areaId":[],"deviceId":[],"entityId":["climate.office"],"data":"{\"hvac_mode\": payload}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1930,"y":340,"wires":[[]]},{"id":"408ecf7908dcf84a","type":"api-current-state","z":"a137d195bfd294a5","name":"Office Occupied?","server":"ca4f37cd.f647f8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.in_office","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":890,"y":360,"wires":[["a20c07dce6504a8b"],[]]},{"id":"d1fe60217663b7c0","type":"server-state-changed","z":"a137d195bfd294a5","name":"Tag","server":"ca4f37cd.f647f8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.tag_in_out","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":200,"wires":[["50601ff8d14b92b3"]]},{"id":"0a5259398d80700d","type":"switch","z":"a137d195bfd294a5","name":"Is AC being set manually?","property":"data.new_state.context.user_id","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":360,"wires":[["c7022fe792e90f93"],["c1a59842c587f623"]]},{"id":"c1a59842c587f623","type":"change","z":"a137d195bfd294a5","name":"Set Override Flag","rules":[{"t":"set","p":"acSetManually","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":691,"y":400,"wires":[[]]},{"id":"c7022fe792e90f93","type":"switch","z":"a137d195bfd294a5","name":"Override Flag Set?","property":"acSetManually","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":340,"wires":[[],["408ecf7908dcf84a"]]},{"id":"c154ea1afd4e65d7","type":"change","z":"a137d195bfd294a5","name":"Reset Override Flag","rules":[{"t":"set","p":"acSetManually","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":120,"wires":[[]]},{"id":"33313dbeafa0029c","type":"inject","z":"a137d195bfd294a5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":133.5,"y":530,"wires":[["25751ef1e317aca5","2f98fdbc01aa55a6","dd95d938521d2ad2"]]},{"id":"413d4f6d4af251a4","type":"debug","z":"a137d195bfd294a5","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":569.5,"y":515,"wires":[]},{"id":"25751ef1e317aca5","type":"change","z":"a137d195bfd294a5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"acSetManually","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":359.5,"y":515,"wires":[["413d4f6d4af251a4"]]},{"id":"2f98fdbc01aa55a6","type":"api-current-state","z":"a137d195bfd294a5","name":"In Office?","server":"ca4f37cd.f647f8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.in_office","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":333,"y":606,"wires":[["d1b7c518a2e42a08"],["d1b7c518a2e42a08"]],"icon":"font-awesome/fa-power-off"},{"id":"d1b7c518a2e42a08","type":"debug","z":"a137d195bfd294a5","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":567.5,"y":607,"wires":[]},{"id":"dd95d938521d2ad2","type":"api-current-state","z":"a137d195bfd294a5","name":"In Office?","server":"ca4f37cd.f647f8","version":3,"outputs":2,"halt_if":"40","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.office_computer_plug_power","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":341,"y":706,"wires":[["4be6175908e6d9f3"],["4be6175908e6d9f3"]],"icon":"font-awesome/fa-power-off"},{"id":"4be6175908e6d9f3","type":"debug","z":"a137d195bfd294a5","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":564.5,"y":708,"wires":[]},{"id":"ca4f37cd.f647f8","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"}]